*.class
*.iml
/HM-Demo/bin/*
/HM-Demo/target/*
/HM-Demo/.settings/*
/HM-Demo/.classpath
/HM-Demo/.project
/HybridMenu/bin/*
/HybridMenu/target/*
/HybridMenu/.settings/*
/HybridMenu/.classpath
/HybridMenu/.project