@mixin flexbox {
  .v-csslayout.flex-row {
    display: flex;
    flex-direction: row;
  }
  .v-csslayout.flex-column {
    display: flex;
    flex-direction: column;
  }
  .v-csslayout.flex-row > .grow,
  .v-csslayout.flex-column > .grow {
    flex: 1 0%;
  }
  .v-csslayout.flex-row > .shrink,
  .v-csslayout.flex-column > .shrink {
    flex: 0 1 0%;
    overflow: auto;
  }
  .v-csslayout.flex-row > .shrink.grow,
  .v-csslayout.flex-column > .shrink.grow {
    flex: 1 1 0%;
    overflow: auto;
  }
  .v-csslayout.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}