@import "../valo/valo.scss";
@import "../../addons/hybrid-menu/hybrid-menu.scss";

/*
$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);
*/


.demo {
	@include valo;
    @include hybrid-menu;
}