@import "../valo/valo.scss";
//@import "../../addons/hybrid-menu/hybrid-menu.scss";

/*
$gray: #d1d1cf;
$green: #40b527;
$darkgreen: darken($green, 30%);
*/


.demo {
	@include valo;
    //@include hybrid-menu;
}

.hybridMenu
{
    z-index: 1;
}

.hybridMenu .contentBox
{
    padding: 15px !important;
}

/* Left Menu */
.hybridMenu .leftMenu
{
    padding: 0 !important;
    overflow-y: auto;
    z-index: 100;
}

.hybridMenu .leftMenu .v-slot
{
    height: auto !important;
}

.hybridMenu .leftMenu .menuButton
{
    background: transparent;
    display: block;
    cursor: pointer;
    -webkit-transition: background 0.3s, border-left 0.3s, height 0.5s;
    -moz-transition: background 0.3s, border-left 0.3s, height 0.5s;
    -ms-transition: background 0.3s, border-left 0.3s, height 0.5s; /* IE10 is actually unprefixed */
    -o-transition: background 0.3s, border-left 0.3s, height 0.5s;
    transition: background 0.3s, border-left 0.3s, height 0.5s;
    border-left: 0 solid transparent;
    overflow: hidden;
}

.hybridMenu .leftMenu .menuButton.active
{
    border-left-width: 3px;
}

.hybridMenu .leftMenu .menuButton:hover, .hybridMenu .leftMenu .menuButton.active:hover
{
    border-left-width: 5px;
}

.hybridMenu .leftMenu .menuButton-wrap
{
    display: block;
    transition: border 0.3s;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE10 is actually unprefixed */
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hybridMenu .leftMenu .menuButton-wrap .v-icon
{
    margin-left: 10px;
    width: 25px;
    text-align: center;
}

.hybridMenu .leftMenu .menuButton-wrap .menuButton-caption
{
    font-size: 17px;
}

.hybridMenu .leftMenu.minimal .menuButton-wrap .menuButton-caption
{
    position: absolute;
}

.hybridMenu .leftMenu .menuButton.subMenuButton .menuButton-caption .v-icon
{
    position: absolute;
    right: 5px;
    margin: 0;
    height: 30px;
    width: 30px;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE10 is actually unprefixed */
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hybridMenu .leftMenu .menuButton.subMenuButton.active .menuButton-caption .v-icon
{
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg); /* IE10 is actually unprefixed */
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.hybridMenu .centralContent .v-expand
{
    -webkit-transition: padding-left 0.75s ease-in-out;
    -moz-transition: padding-left 0.75s ease-in-out;
    -ms-transition: padding-left 0.75s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: padding-left 0.75s ease-in-out;
    transition: padding-left 0.75s ease-in-out;
    z-index: 10;
}

.hybridMenu .centralContent .v-expand .v-expand
{
    transition: unset;
}

.hybridMenu .v-slot-leftMenu
{
    -webkit-transition: margin-left 0.75s ease-in-out;
    -moz-transition: margin-left 0.75s ease-in-out;
    -ms-transition: margin-left 0.75s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: margin-left 0.75s ease-in-out;
    transition: margin-left 0.75s ease-in-out;
}

.hybridMenu .leftMenu
{
    -webkit-transition: width 0.75s ease-in-out;
    -moz-transition: width 0.75s ease-in-out;
    -ms-transition: width 0.75s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: width 0.75s ease-in-out;
    transition: width 0.75s ease-in-out;
}

.hybridMenu .leftMenu .menuSubMenuContent
{
    border-left: 1px solid transparent;
    margin-left: 24px;
    width: calc(100% - 24px) !important;
}

.hybridMenu .leftMenu .v-slot-menuSubMenuContent
{
    position: relative;
    overflow: hidden;
    display: block;
    max-height: 0;
    -webkit-transition: max-height 0.5s ease-in-out;
    -moz-transition: max-height 0.5s ease-in-out;
    -ms-transition: max-height 0.5s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.hybridMenu .leftMenu .v-slot-menuSubMenuContent.v-slot-open
{
    max-height: 1000px;
}




/* Top Menu */
.hybridMenu .topMenu
{
    z-index: 1000;
}

.hybridMenu .topMenu .v-slot.v-align-middle
{
    width: auto !important;
    display: inline-block;
}

.hybridMenu .topMenu .v-slot.v-align-right.v-align-middle
{
    float: right;
}

.hybridMenu .topMenu .v-slot.v-slot-labelTitle .v-caption-labelTitle
{
    padding-left: 10px;
    padding-right: 10px;
    width: 230px;
    text-align: center;
    font-size: 18px;
    margin-bottom: -2px;
}

.hybridMenu .topMenu .v-slot.v-slot-labelTitle .v-caption-labelTitle .v-icon
{
    max-height: 23px;
}

.hybridMenu .topMenu .menuLabel.labelTitle
{
    display: none;
}

.hybridMenu .topMenu .menuSubMenu
{
    position: relative;
    height: 100%;
    display: inline-block;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent
{
    position: absolute;
    top: 100%;
    right: 0;
    border-top: 1px solid transparent;
    padding: 0;
    opacity: 0;
    z-index: -1;
    margin-top: -100%;
    -webkit-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    -moz-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    -ms-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    pointer-events: none;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.open
{
    pointer-events: auto;
    margin-top: 0;
    opacity: 1;
    z-index: 100;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent .v-slot
{
    height: auto;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuLabel
{
    display: block;
    opacity: 0.75;
    padding: 5px 10px 5px 15px;
    font-size: 12px;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuButton
{
    display: block;
    padding: 4px 10px 3px 15px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuHr
{
    height: 1px;
    margin: 6px 0;
    overflow: hidden;
    width: 100%;
    display: block;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox
{
    
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notificationTitle, .hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .goToNotisButton
{
    padding: 5px 10px 5px 15px;
    font-size: 14px;
    display: block;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notificationEmptyMessage
{
    display: block;
    opacity: 0.75;
    text-align: center;
    padding: 5px;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .goToNotisButton
{
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage
{
    border-bottom: 1px solid transparent;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .v-slot:last-child .notiMessage
{
    border-bottom-width: 0;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .v-slot:first-child
{
    width: 100% !important;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .v-slot:last-child
{
    height: 0 !important;
    width: 0 !important;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .v-has-caption
{
    width: calc(100% - 75px);
    margin-left: 75px;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .v-has-caption .v-icon
{
    position: absolute;
    left: 0;
    padding: 10px;
    width: 55px;
    text-align: center;
    vertical-align: middle;
    max-height: 55px;
    display: block;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .v-has-caption .v-captiontext
{
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 15px 0 0;
    width: calc(100% - 15px);
    display: block;
    position: relative;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .notiMessageContent
{
    width: 100%;
    font-size: 14px;
    opacity: 0.75;
    padding: 0 5px 0 0;
    display: block;
    position: relative;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .notiMessageButton
{
    position: absolute;
    cursor: pointer;
    right: 2px;
    margin-top: 3px;
    opacity: 0.25;
    -webkit-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hybridMenu .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .notiMessageButton:hover
{
    opacity: 1;
}


.hybridMenu .topMenu .menuButton
{
    height: 100%;
    cursor: pointer;
    padding: 0 12px;
    background: transparent;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out, color 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hybridMenu .topMenu .menuButton-wrap
{
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE10 is actually unprefixed */
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hybridMenu .topMenu .menuButton.iconRight .v-icon
{
    float: right;
}

.hybridMenu .topMenu .menuButton.iconRight .menuButton-caption
{
    margin-right: 7px;
    margin-left: 0;
}

.hybridMenu .topMenu .menuButton.profilView .v-icon
{
    max-height: 23px;
    border-radius: 50%;
    margin-left: 5px;
}

.hybridMenu .topMenu .menuButton.captionOutside .menuButton-wrap
{
    top: 0;
    height: 100%;
    transform: unset;
}

.hybridMenu .topMenu .menuButton.captionOutside .v-icon
{
    display: block;
    transition: border 0.3s;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE10 is actually unprefixed */
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.hybridMenu .topMenu .menuButton.captionOutside .menuButton-caption .toolTop
{
    position: absolute;
    z-index: 100;
    font-size: 10px;
    line-height: 12px;
    padding: 2px 5px;
    border-radius: 6px;
    top: 8px;
}

.hybridMenu .topMenu .menuButton.captionOutside .menuButton-caption .caption
{
    position: absolute;
    top: 100%;
    right: -12px;
    border-top: 1px solid transparent;
    padding: 5px 15px 7px;
    opacity: 0;
    z-index: -1;
    margin-top: -100%;
    -webkit-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    -moz-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    -ms-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out; /* IE10 is actually unprefixed */
    -o-transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    transition: margin-top 0.3s ease-in-out, opacity 0.3s ease-in-out, z-index 0.3s ease-in-out;
    pointer-events: none;
}

.hybridMenu .topMenu .menuButton.captionOutside:hover .menuButton-caption .caption
{
    margin-top: 0;
    opacity: 1;
    z-index: 100;
}




/* Theme - Default */
.hybridMenu.hybridTheme_default
{
    color: rgb(66, 66, 66);
    background: rgb(245, 245, 245);
}

.hybridMenu.hybridTheme_default .v-slot-topMenu
{
    background: rgb(224, 224, 224);
    border-bottom: 1px solid rgb(245, 245, 245);
}

.hybridMenu.hybridTheme_default .v-slot-leftMenu
{
    background: rgb(238, 238, 238);
}

.hybridMenu.hybridTheme_default .leftMenu .menuButton.active
{
    border-left-color: rgb(0, 145, 234);
    background: rgba(189, 189, 189, 0.5);
}

.hybridMenu.hybridTheme_default .leftMenu .menuButton:hover
{
    border-left-color: rgb(255, 109, 0);
    background: rgba(224, 224, 224, 0.5);
}

.hybridMenu.hybridTheme_default .leftMenu .menuButton.active:hover
{
    border-left-color: rgb(0, 145, 234);
}

.hybridMenu.hybridTheme_default .leftMenu .menuSubMenuContent
{
    border-left-color: rgba(189, 189, 189, 0.5);
}

.hybridMenu.hybridTheme_default .contentBox
{
    background: rgb(245, 245, 245);
}

.hybridMenu.hybridTheme_default .topMenu .menuButton.captionOutside .menuButton-caption .caption, .hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent
{
    border-top-color: rgb(255, 109, 0);
    background: rgb(238, 238, 238);
}

.hybridMenu.hybridTheme_default .topMenu .menuButton.active
{
    background: rgb(238, 238, 238);
}

.hybridMenu.hybridTheme_default .topMenu .menuButton:hover
{
    color: rgb(245, 245, 245);
    background: rgb(255, 109, 0);
}

.hybridMenu.hybridTheme_default .topMenu .menuButton:hover .menuButton-caption .caption, .hybridMenu.hybridTheme_default .topMenu .menuButton .menuButton-caption .caption
{
    color: rgb(66, 66, 66) !important;
}

.hybridMenu.hybridTheme_default .topMenu .menuButton.captionOutside .menuButton-caption .toolTop
{
    color: rgb(255, 255, 255);
    background: rgb(33, 150, 243);
}

.hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuHr, .hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuButton:hover
{
    background: rgba(189, 189, 189, 0.5);
}

.hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notificationTitle, .hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .goToNotisButton
{
    background: rgb(224, 224, 224);
}

.hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .goToNotisButton:hover, .hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage:hover
{
    background: rgba(224, 224, 224, 0.5);
}

.hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .notiMessageButton:hover
{
    color: rgb(183, 28, 28);
}

.hybridMenu.hybridTheme_default .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage
{
    border-bottom-color: rgb(189, 189, 189);
}



/* Theme - Default-Dark */
.hybridMenu.hybridTheme_default_dark
{
    color: rgb(245, 245, 245);
    background: rgb(117, 117, 117);
}

.hybridMenu.hybridTheme_default_dark .v-slot-topMenu
{
    background: rgb(66, 66, 66);
    border-bottom: 1px solid rgb(117, 117, 117);
}

.hybridMenu.hybridTheme_default_dark .v-slot-leftMenu
{
    background: rgb(97, 97, 97);
}

.hybridMenu.hybridTheme_default_dark .leftMenu .menuButton.active
{
    border-left-color: rgb(0, 145, 234);
    background: rgba(117, 117, 117, 0.5);
}

.hybridMenu.hybridTheme_default_dark .leftMenu .menuButton:hover
{
    border-left-color: rgb(255, 109, 0);
    background: rgba(66, 66, 66, 0.5);
}

.hybridMenu.hybridTheme_default_dark .leftMenu .menuButton.active:hover
{
    border-left-color: rgb(0, 145, 234);
}

.hybridMenu.hybridTheme_default_dark .leftMenu .menuSubMenuContent
{
    border-left-color: rgb(117, 117, 117);
}

.hybridMenu.hybridTheme_default_dark .contentBox
{
    background: rgba(117, 117, 117, 0.5);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuButton.captionOutside .menuButton-caption .caption, .hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent
{
    border-top-color: rgb(255, 109, 0);
    background: rgb(97, 97, 97);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuButton.active
{
    background: rgb(97, 97, 97);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuButton:hover
{
    background: rgb(255, 109, 0);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuButton.captionOutside .menuButton-caption .toolTop
{
    background: rgb(33, 150, 243);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuHr, .hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent .menuSubMenuButton:hover
{
    background: rgb(117, 117, 117);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notificationTitle, .hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .goToNotisButton
{
    background: rgb(66, 66, 66);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .goToNotisButton:hover, .hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage:hover
{
    background: rgba(66, 66, 66, 0.5);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage .notiMessageButton:hover
{
    color: rgb(183, 28, 28);
}

.hybridMenu.hybridTheme_default_dark .topMenu .menuSubMenu .menuSubMenuContent.notificationBox .notiMessage
{
    border-bottom-color: rgb(117, 117, 117);
}